<nav class="navbar">
  <div class="navbar-marca">
    <a routerLink="/">📷 CamShop</a>
  </div>
  <ul class="navbar-enlaces">
    <li><a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">Inicio</a></li>
    <li><a routerLink="/camaras" routerLinkActive="activo">Cámaras</a></li>
    <li><a routerLink="/carrito" routerLinkActive="activo">Carrito</a></li>
    <li><a routerLink="/ordenes" routerLinkActive="activo">Órdenes</a></li>
    <li><a routerLink="/resenas" routerLinkActive="activo">Reseñas</a></li>
    <li><a routerLink="/login" routerLinkActive="activo">Login</a></li>
    <li><a routerLink="/registro" routerLinkActive="activo">Registro</a></li>
  </ul>
</nav>