<section class="contenedor">

  <h2>Finalizar Compra</h2>

  <form
    [formGroup]="formulario"
    (ngSubmit)="realizarCheckout()">

    <label>Método de pago</label>

    <select formControlName="metodo">

      <option value="">Seleccione</option>

      <option value="Yape">Yape</option>

      <option value="Plin">Plin</option>

      <option value="Tarjeta">Tarjeta</option>

      <option value="Transferencia">
        Transferencia
      </option>

    </select>

    @if (
      formulario.controls.metodo.invalid &&
      formulario.controls.metodo.touched
    ) {

      <small>
        Debe seleccionar un método de pago
      </small>

    }

    <button
      type="submit"
      [disabled]="formulario.invalid || loading()">

      Realizar Checkout

    </button>

  </form>

  @if (loading()) {

    <p>Cargando...</p>

  }

  @if (error()) {

    <p>{{ error() }}</p>

  }

  @if (exito()) {

    <p>{{ exito() }}</p>

  }

  @if (orden()) {

    <div class="resultado">

      <h3>Orden generada</h3>

      <p>ID: {{ orden()?.id }}</p>

      <p>Total: S/ {{ orden()?.total }}</p>

      <p>Estado: {{ orden()?.estado }}</p>

    </div>

  }

</section>